<% if(errors.length> 0) { %>
    <div class="mb-4 p-4 bg-red-100 border border-red-400 text-red-700 rounded-md">
        <ul class="list-disc list-inside">
            <% errors.forEach(function(error) { %>
                <li>
                    <%= error.msg %>
                </li>
                <% }); %>
        </ul>
    </div>
    <% } %>