<form action="/favourites" method="POST">
    <button type="submit" class="text-white bg-green-500 p-2 hover:bg-green-600 rounded-xl">Add to Favourite</button>
    <input type="hidden" name="id" value="<%= home._id %>">
</form>